@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
}

body {
  font-family: iA Writer Quattro, system-ui, sans-serif;
  scrollbar-width: thin;
}

.lucide {
  stroke-width: 1.5px;
}

.lucide * {
  vector-effect: non-scaling-stroke;
}